@charset "UTF-8";
.headHTxt{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td {
	/* padding: 10px; */
	vertical-align: top;
}
.deleteNotice {
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
}
.contentTxt{
	/* padding-top: 38px; */
	/* padding-bottom: 38px; */
	vertical-align: middle;
	color: #333;
}
.inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}
.inputPhoneContainer{
	flex-direction: row;
	align-items: center;
}
.inputBox {
	width: calc(100% - 20px);
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 16px;
	margin-top: 15px;
	padding: 10px;
	height: 46px;
}
.inputIdContainer {
	flex-direction: row;
	align-items: center;
}
.idDupBtn{
	width: 75px;
	margin-left: 5px;
	font-size: 13px;
	background-color: white;
	height: 46px;
	border: 1px solid #C9C9C9;
	color: #797979;
	cursor: pointer;
	padding-top: 4px;
}
.inputPhoneBox{
	width: calc(34% - 20px);
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 16px;
	margin-top: 15px;
	padding: 10px;
}
.dash{
	margin-top: 7px;
	margin-left: 5px;
	margin-right: 5px;
}
.txt{
	color: #C9C9C9;
	font-size: 12px;
	margin-top: 5px;
}
.required {
	color: red;
}
.msg{
	margin-top: 5px;
	display: block;
	min-height: 20px;
}
.errorMsg {
	color: red;
	font-size: 12px;
	min-height: 20px;
}
.chkPassMsg{
	color: green;
	font-size: 12px;
	display: none;
	min-height: 20px;
}
.btnSubmit {
	width: 48%;
	padding: 10px;
	border: none;
	background-color: #FFE800;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
}
.btnReset{
	width: 48%;
	padding: 10px;
	border: 1px solid #FFE800;
	background-color: #FFFFFF;
	color: #FFE800;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
}
.sub_visual {
	background-size: cover;
	padding: 100px 0;
	text-align: center;
	min-height: 300px;
}
.sub_section {
	padding: 20px;
}
.deleteBtn {
	text-align: center;
}